:global(.hacebco-landing-hogar-haceb-0-x-confirmProgramModalContainer){
    z-index: 9 !important;
}
:global(.hacebcoqa-qr-code-0-x-container_modal)
:global(.vtex-login-2-x-contentFormVisible){
    display: none;
}
:global(.hacebcoqa-qr-code-0-x-container_modal)
:global(.vtex-login-2-x-contentAlwaysWithOptions){
    min-height: unset;
}
:global(.hacebcoqa-qr-code-0-x-container_modal)
:global(.vtex-login-2-x-customOAuthOptionBtn)
:global(.vtex-button){
    border: 1px solid #000;
    border-radius: 30px;
    min-height: unset;
    padding-block: 5px;
}
:global(.hacebcoqa-qr-code-0-x-container_modal)
:global(.vtex-login-2-x-customOAuthOptionBtn)
:global(.vtex-button):hover{
    border: 1px solid var(--yellow-0);
    border-radius: 30px;
    min-height: unset;
    padding-block: 5px;
    background-color: var(--yellow-0);
}
:global(.hacebcoqa-qr-code-0-x-container_modal)
:global(.vtex-login-2-x-customOAuthOptionBtn)
:global(.vtex-button):hover
:global(.vtex-login-2-x-oauthLabel)::before{
    color: #fff;
}